#background {
    fill: bisque;
}

#middlecirc {
    fill: orange;
}

#circlabel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    fill: brown;
    text-anchor: middle;
}